/* color */
$ueh_green_color: rgb(0, 95, 105);
$ueh_orange_color: rgb(242, 111, 51);
$text_color: #fff;
$black_color: #000;

/* margin - padding */

/* font */
$normal_font: 'Montserrat', sans-serif;

/* size */
$container_width: 100vw;

/* transition */
$transition: 0.5 ease-in-out;