@import 'variable';

.footer{
    background-color: $ueh_green_color;
    .btn{
        font-size: $btn-font-size;
        width: $btn-floating-width;
        height: $btn-floating-height;
        border-radius: $btn-floating-border-radius;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }
    .btn:hover{
        box-shadow: $btn-box-shadow;
        transform: scale(1.1);
    }
}

@media only screen and (max-width: 600px) {
    .footer{
        font-size: 0.55rem;

        h6{
            font-size: 0.55rem;
        }

        .btn{
            font-size: $btn-font-size-sm;
            width: $btn-floating-width-sm;
            height: $btn-floating-height-sm;
        }
    }
}