@import 'variable';
*{
    font-family: $normal_font;
}
.body{
    margin: 0;
    padding: 0;
}
.swiper {    
    width: 100%;
    padding-top: 50px !important;
    padding-bottom: 50px !important;

    .swiper-wrapper{
        .swiper-slide{
            background-position: center;
            background-size: cover;
            height: 30vw;
            width: auto;
            aspect-ratio: 14/16;
            perspective: 600px;
            position: relative;

            .face{
                background: linear-gradient(-45deg,$ueh_orange_color, $ueh_green_color);
                height: 100%;
                width: 100%;
                border: #000 1px solid;
                position: absolute;
            }
            .side{
                width: 10%;
                height: 100%;
                border: #000 1px solid;
                position: absolute;
            }
            .left{
                background-color: #fff;
                transform: translateX(-50%) rotateY(-65deg) translateX(-50%);
            }
            .right{
                background-color: #fff;
                transform: translateX(950%) rotateY(65deg) translateX(50%);                
            }
        }
    }
    .swiper-button{
        color: $ueh_green_color;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .swiper {        
        .swiper-wrapper{
            .swiper-slide{    
                .left{
                    width: 20%;
                    transform: translateX(-50%) rotateY(-90deg) translateX(-50%);
                }
                .right{
                    width: 20%;
                    transform:  translateX(450%) rotateY(90deg) translateX(50%);
                }
            }
        }
        .swiper-button{
            display: none;
        }
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}
