@import 'variable';
*{
    font-family: $normal_font;
}
html{
    font-size: 62.5%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    user-select: none;
}

button{
    outline:none;
    background-color: transparent;
    color: $text_color;
    font-family: $normal_font;
    font-weight: 700;
}

.bai1{
    --color-light: $ueh_orange_color;
    --color-medium: red;
    --color-dark: $ueh_green_color;
}
.bai2{
    --color-light: #fff;
    --color-medium: gray;
    --color-dark: #000;
}
.bai3{
    --color-light: #eb5e5e;
    --color-medium: #cf6400;
    --color-dark: #7a1d1d;
}
/* .glide{
    .glide__slide{
        border: #000 1px solid;
        width: 30vh;
        height: 30vh;
    }
} */
.container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: $container_width;
    aspect-ratio: 16/9;
    border-radius: 20px;
    padding: 120px 0 120px 80px;
    color: $text_color;
    background-color: var(--color-medium);
    transition: $transition;
    overflow: hidden;

    .navigation{
        list-style-type: none;
        width: 80%;
        height: 100%;
        font-size: 3rem;
        font-weight: 700;

        .navigation-item{
            position: relative;
            display: flex;
            align-self: flex-start;
            width: 100%;
            height: 24px;
            opacity: 0.4;
            margin: 12px 0px;
            transition: $transition;

            *{
                position: absolute;
                transform-origin: top left;
                transition: inherit;
            }
        }
    }
}