@import 'variable';
*{
    font-family: $normal_font;
}

/* .glide{
    .glide__slide{
        border: #000 1px solid;
        width: 30vw;
        height: auto;
        aspect-ratio: 16/9;
    }
} */
.body{
    margin: 0;
    padding: 0;
}
.swiper {    
    width: 100%;
    padding-top: 50px !important;
    padding-bottom: 50px !important;

    .swiper-wrapper{
        .swiper-slide{
            background-position: center;
            background-size: cover;
            width: 30vw;
            height: auto;
            aspect-ratio: 16/9;
            perspective: 600px;
            position: relative;

            .face{
                height: 100%;
                border: #000 1px solid;
                position: absolute;
            }
            .side{
                height: 100%;
                border: #000 1px solid;
                position: absolute;
            }

            .front{
                width: 100%;
            }
            .left{
                width: 10%;
                background-color: #fff;
                transform: translateX(-50%) rotateY(-60deg) translateX(-50%);
                /* transform: translateX(-50%) rotateY(-90deg) translateX(-50%); */
            }
            .right{
                width: 10%;
                background-color: #fff;
                transform: translateX(950%) rotateY(60deg) translateX(50%);                
                /* transform:  translateX(450%) rotateY(90deg) translateX(50%); */
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .swiper {        
        .swiper-wrapper{
            .swiper-slide{    
                .left{
                    width: 20%;
                    transform: translateX(-50%) rotateY(-90deg) translateX(-50%);
                }
                .right{
                    width: 20%;
                    transform:  translateX(450%) rotateY(90deg) translateX(50%);
                }
            }
        }
    }
}
