nav{
    background-color: rgb(0, 95, 105);
}
nav *{
    color: #ffffff;
}
nav *:hover{
    color: #ffffff;
}
nav img{
    max-width: 100px;
    margin: 0px 20px 0px 0px;
}
nav ul li .dropdown-menu .dropdown-item{
    color: #000;
}
nav button{
    margin: 10px;
    color: #ffffff !important;
    border: rgb(242, 111, 51) !important;
    background-color: rgb(242, 111, 51) !important;
}